@model GräsÄnklingar.Models.And

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>And</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.andNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.andNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intressen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intressen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.andid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
